// Footer

footer{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
     a{
        text-decoration: none;
        color: #32322F;
       }
}
  